/****************************
  /$$$$$$  /$$$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$      
 /$$__  $$| $$_____/| $$$ | $$| $$_____/| $$__  $$ /$$__  $$| $$      
| $$  \__/| $$      | $$$$| $$| $$      | $$  \ $$| $$  \ $$| $$      
| $$ /$$$$| $$$$$   | $$ $$ $$| $$$$$   | $$$$$$$/| $$$$$$$$| $$      
| $$|_  $$| $$__/   | $$  $$$$| $$__/   | $$__  $$| $$__  $$| $$      
| $$  \ $$| $$      | $$\  $$$| $$      | $$  \ $$| $$  | $$| $$      
|  $$$$$$/| $$$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$| $$  | $$| $$$$$$$$
 \______/ |________/|__/  \__/|________/|__/  |__/|__/  |__/|________/
                                                                      
                                                                      
                                                                      
*****************************/


* {
    box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}
body{
/*    font-family: 'Quicksand', sans-serif;*/
    font-family: 'Istok Web', sans-serif;
    background: none;
    width: 100%;
    margin: auto;
    font-weight: 700;
   

}

/* ***************************************************  SET THE BACKGROUND IMAGE*/
html {     
  background: url(../img/optimized/bubblesWallpaper0.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*containers set to 100% to fill entire height of page*/

html,
body,
.main-wrapper,
#wrapper,
.header
 {
    height: auto;
}

#home .home, #portfolio .portfolio, #about .about, #contact .contact, #coding .coding, #fineArts .fineArts
{
color: #03b41a;
}







p{
   font-family: 'Istok Web', sans-serif;  
    margin: 5px 10px;
    text-indent: 25px;
    
    
}

h2, h3 {
        font-size: 2.00em;
        padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    }

h3 {
    
    font-size: 1.25em;
    

}

.pagedesc p {
    margin: 5px auto;
    max-width: 85%;
    
    font-weight: 700;
    font-size: 1.4em;
    
}
.spanItal {
    font-style: italic;
}

.spanEntry {
    word-wrap: break-word;
    font-family: 'Istok Web', sans-serif;  
    margin: 5px 10px;
}

.linkUnderline {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}



#promo {
    max-height: 350px;
    display: block;
    margin: auto;
}
#wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    
    
}

.pagedesc {
    background-color: rgba(51, 204, 139, 0.38);
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}



.desctext {
    
    text-align: center;
}

a {
    text-decoration: none;
    
    

}

img {
    max-width: 100%;
}

li {
   
    list-style: none;
    border-radius: 25px;
    margin: auto;
/*    white-space: nowrap;*/
}


/*
 _           _   _                  
| |__  _   _| |_| |_ ___  _ __  ___ 
| '_ \| | | | __| __/ _ \| '_ \/ __|
| |_) | |_| | |_| || (_) | | | \__ \
|_.__/ \__,_|\__|\__\___/|_| |_|___/
                                    
*/

.galButton {
    display: inline-block;
    text-align: center;
/*    width: auto;*/
    
}

.hideButton {
    display:inline-block;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 15px;
    width: 40px;
    margin: 0 10px 0 10px;
}

.showButton {
    
    background: #45b41c;
    border: none;
    border-radius: 5px;
    color: #1d3c6a;
    padding: 5px 0;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    margin: 0 10px 0 10px;
    
}


.showButtonContainer {
    display: inline-block;
    
}




/*
  /$$$$$$   /$$$$$$  /$$       /$$   /$$ /$$      /$$ /$$   /$$  /$$$$$$ 
 /$$__  $$ /$$__  $$| $$      | $$  | $$| $$$    /$$$| $$$ | $$ /$$__  $$
| $$  \__/| $$  \ $$| $$      | $$  | $$| $$$$  /$$$$| $$$$| $$| $$  \__/
| $$      | $$  | $$| $$      | $$  | $$| $$ $$/$$ $$| $$ $$ $$|  $$$$$$ 
| $$      | $$  | $$| $$      | $$  | $$| $$  $$$| $$| $$  $$$$ \____  $$
| $$    $$| $$  | $$| $$      | $$  | $$| $$\  $ | $$| $$\  $$$ /$$  \ $$
|  $$$$$$/|  $$$$$$/| $$$$$$$$|  $$$$$$/| $$ \/  | $$| $$ \  $$|  $$$$$$/
 \______/  \______/ |________/ \______/ |__/     |__/|__/  \__/ \______/ 
                                                                         
                             */                                            
                                                                         
/*added columns code */



.primary-content   { background-color: rgba(0, 0, 0, 0); }
.secondary-content { background-color: rgba(0, 0, 0, 0); }

.col {
    display: inline-block;
    padding: 10px;
    margin-right: -5px;
    vertical-align: top;
}
.primary-content {
    width: 60%;
}
.secondary-content {
    width: 40%;
}

.colImg , .colImg2nd{
    width:28%;
    display: inline-block;
    margin-left: 15px;
    
}

.colImgcap {
    
     font-size: .8em;
   
}

.colImglink {
    border-radius: 100%;
    border:2px solid rgb(46, 147, 104);
    box-shadow: 3px 3px 2px 2px rgba(9, 46, 13, 0.71);
}

.colEntry {
    background: rgba(44, 165, 123, 0.46);
    border-radius: 5%;
    margin-top: 15px;
    

}

.smallColumn {
    min-height: 150px;
}

.colSideText {
    display:inline-block;
}

.slotRect {
   position: absolute;
    width: 80%;
    margin: 0 auto;
/*background: url(../img/slotted-rectangle.png) no-repeat;*/
    height: 10%;
    left: 50px;
    top: 20px;
}

/*

  /$$$$$$  /$$$$$$$   /$$$$$$  /$$       /$$$$$$ /$$$$$$$$ /$$$$$$$ 
 /$$__  $$| $$__  $$ /$$__  $$| $$      |_  $$_/| $$_____/| $$__  $$
| $$  \__/| $$  \ $$| $$  \ $$| $$        | $$  | $$      | $$  \ $$
|  $$$$$$ | $$$$$$$/| $$  | $$| $$        | $$  | $$$$$   | $$$$$$$/
 \____  $$| $$____/ | $$  | $$| $$        | $$  | $$__/   | $$__  $$
 /$$  \ $$| $$      | $$  | $$| $$        | $$  | $$      | $$  \ $$
|  $$$$$$/| $$      |  $$$$$$/| $$$$$$$$ /$$$$$$| $$$$$$$$| $$  | $$
 \______/ |__/       \______/ |________/|______/|________/|__/  |__/
                                                                    
                    */                                                
                                                                    

/*NEW SPOLIER STYLES*/
/*
button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 24px;
  width: 200px;
  padding: 5px 0;
  margin: 5px -5px;
  outline: none;
  cursor: pointer;
}
.spoiler, .newbutton {
    background: #1d3c6a;
  width: 200px;
  margin: 0 auto 5px;
  border-radius: 5px;
  padding: 5px 5px;
  text-align: center;
  font-size: 24px
}
.spoiler span {
  color: #dae1e4;
}

.newbutton span {
  color: #dae1e4;
}
*/


/****************************
  /$$$$$$  /$$       /$$$$$$ /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
 /$$__  $$| $$      |_  $$_/| $$__  $$| $$_____/| $$__  $$
| $$  \__/| $$        | $$  | $$  \ $$| $$      | $$  \ $$
|  $$$$$$ | $$        | $$  | $$  | $$| $$$$$   | $$$$$$$/
 \____  $$| $$        | $$  | $$  | $$| $$__/   | $$__  $$
 /$$  \ $$| $$        | $$  | $$  | $$| $$      | $$  \ $$
|  $$$$$$/| $$$$$$$$ /$$$$$$| $$$$$$$/| $$$$$$$$| $$  | $$
 \______/ |________/|______/|_______/ |________/|__/  |__/
                                                          
                                                          
                                                          
*****************************/

.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #0b6d5e;
            background-color: rgb(11, 109, 94);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }


    .slider1_container {
        margin:auto;
    }


/*end caption styles*/






/****************************
 /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
| $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
| $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
| $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
| $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
| $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
| $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
|__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/
                                                            
  /$$$           /$$                                 /$$ /$$                    
 /$$ $$         | $$                                | $$|__/                    
|  $$$          | $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$ /$$ /$$$$$$$   /$$$$$$ 
 /$$ $$/$$      | $$__  $$ /$$__  $$ |____  $$ /$$__  $$| $$| $$__  $$ /$$__  $$
| $$  $$_/      | $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$| $$  \ $$| $$  \ $$
| $$\  $$       | $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$| $$  | $$| $$  | $$
|  $$$$/$$      | $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$| $$  | $$|  $$$$$$$
 \____/\_/      |__/  |__/ \_______/ \_______/ \_______/|__/|__/  |__/ \____  $$
                                                                       /$$  \ $$
                                                                      |  $$$$$$/
                                                                       \______/                                                            
                                                            
*****************************/

header {
    
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width:100%;
    max-height: 700px;
    position: relative;
    min-height: 175px;
    
}

/*#logo {
    text-align: center;
    margin:0;
}*/

h1 {
    font-family: 'Oswald', sans-serif;
    margin: 15px 0;
    font-size: 2.75em;
    font-weight: normal;
    line-height: 1.2em;
    display: block;

    }




/****************************
 /$$   /$$  /$$$$$$  /$$    /$$ /$$$$$$  /$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$  /$$$$$$  /$$   /$$
| $$$ | $$ /$$__  $$| $$   | $$|_  $$_/ /$$__  $$ /$$__  $$|__  $$__/|_  $$_/ /$$__  $$| $$$ | $$
| $$$$| $$| $$  \ $$| $$   | $$  | $$  | $$  \__/| $$  \ $$   | $$     | $$  | $$  \ $$| $$$$| $$
| $$ $$ $$| $$$$$$$$|  $$ / $$/  | $$  | $$ /$$$$| $$$$$$$$   | $$     | $$  | $$  | $$| $$ $$ $$
| $$  $$$$| $$__  $$ \  $$ $$/   | $$  | $$|_  $$| $$__  $$   | $$     | $$  | $$  | $$| $$  $$$$
| $$\  $$$| $$  | $$  \  $$$/    | $$  | $$  \ $$| $$  | $$   | $$     | $$  | $$  | $$| $$\  $$$
| $$ \  $$| $$  | $$   \  $/    /$$$$$$|  $$$$$$/| $$  | $$   | $$    /$$$$$$|  $$$$$$/| $$ \  $$
|__/  \__/|__/  |__/    \_/    |______/ \______/ |__/  |__/   |__/   |______/ \______/ |__/  \__/
                                                                                                 
                                                                                                 
                                                                                                 
*****************************/

.navdiv {
    
    padding: 10px 0;
    margin: 20px 0 0;
    padding-bottom: 10px;
    
    text-align:  center;
}

.navdiv ul {
    list-style: none;
    margin: auto;
}


.textlogo a {
    display:inline-block;
    text-align: center;
}

.navdiv ul a {
    font-weight: 800;
    padding: 15px 10px;
    
    
}


/****************SIZING**************/

.navdiv ul li {
    display:block;
    padding:10px;
    margin:auto;
    background: rgb(8, 42, 67);
    width: 35%;
    border-radius: 25px;
    height:2em;
/*    margin-right: 5px;*/
    margin-bottom: 5px;
}

/*.container {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}*/



.textlogo {
    margin:auto;
    width:100%;
    
    /*padding:9px;*/
    display: block;
}

.navdiv ul {
    padding: 10px;
}



.jelogomain {
    height:200px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
     
    background:none;  
    padding: 10px; 
    display: block;
}


/****************************
 /$$$$$$$   /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$$ /$$$$$$  /$$       /$$$$$$  /$$$$$$ 
| $$__  $$ /$$__  $$| $$__  $$|__  $$__/| $$_____//$$__  $$| $$      |_  $$_/ /$$__  $$
| $$  \ $$| $$  \ $$| $$  \ $$   | $$   | $$     | $$  \ $$| $$        | $$  | $$  \ $$
| $$$$$$$/| $$  | $$| $$$$$$$/   | $$   | $$$$$  | $$  | $$| $$        | $$  | $$  | $$
| $$____/ | $$  | $$| $$__  $$   | $$   | $$__/  | $$  | $$| $$        | $$  | $$  | $$
| $$      | $$  | $$| $$  \ $$   | $$   | $$     | $$  | $$| $$        | $$  | $$  | $$
| $$      |  $$$$$$/| $$  | $$   | $$   | $$     |  $$$$$$/| $$$$$$$$ /$$$$$$|  $$$$$$/
|__/       \______/ |__/  |__/   |__/   |__/      \______/ |________/|______/ \______/ 
                                                                                       
                                                                                       
                                                                                       
*****************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background: rgba(73, 170, 144, 0.56);
     
}

#gallery li a p {
    margin: 0 auto 20px;
    padding: 5%;
    font-size: 0.85em;
    color: #0c2b33;
    height: 2.0em;
}

 .galleryHeading {
    display: inline-block;
}




/****************************
 /$$$$$$$$ /$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$$$ /$$$$$$$ 
| $$_____//$$__  $$ /$$__  $$|__  $$__/| $$_____/| $$__  $$
| $$     | $$  \ $$| $$  \ $$   | $$   | $$      | $$  \ $$
| $$$$$  | $$  | $$| $$  | $$   | $$   | $$$$$   | $$$$$$$/
| $$__/  | $$  | $$| $$  | $$   | $$   | $$__/   | $$__  $$
| $$     | $$  | $$| $$  | $$   | $$   | $$      | $$  \ $$
| $$     |  $$$$$$/|  $$$$$$/   | $$   | $$$$$$$$| $$  | $$
|__/      \______/  \______/    |__/   |________/|__/  |__/
                                                           
                                                           
                                                           
*****************************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
   
    color: #ccc;
    
}

.resume-icon {
    width:25px;
}

.social-icon {
    width: 40px;
    
}

.testfooter {
/*    background-color: rgb(26, 78, 77);*/
    height: 10%;
    
    width: 100%;
    bottom: 0;
    
    margin: auto;
    margin-top: 15px;
    
}

.sitemapLink {
    color: #05181a;
    text-shadow: -1px 1px 3px #5cc0ff, 1px -1px 8px #52ff66;
    text-decoration: underline;
    margin-right: 10px;
}


.footerCont {
    margin-top: 15px;
}    
    

/****************************
  /$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$
 /$$__  $$| $$__  $$ /$$__  $$| $$  | $$|__  $$__/
| $$  \ $$| $$  \ $$| $$  \ $$| $$  | $$   | $$   
| $$$$$$$$| $$$$$$$ | $$  | $$| $$  | $$   | $$   
| $$__  $$| $$__  $$| $$  | $$| $$  | $$   | $$   
| $$  | $$| $$  \ $$| $$  | $$| $$  | $$   | $$   
| $$  | $$| $$$$$$$/|  $$$$$$/|  $$$$$$/   | $$   
|__/  |__/|_______/  \______/  \______/    |__/   
                                                  
                                                  
                                                  
*****************************/

.profile-photo {
    clear: both;
    display: block;
    max-width: 150px;
    margin: auto;
    border-radius: 100%;
    
}



/****************************
  /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$   /$$$$$$  /$$$$$$$$
 /$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$ /$$__  $$|__  $$__/
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$| $$  \__/   | $$   
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$| $$         | $$   
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$| $$         | $$   
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$| $$    $$   | $$   
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$|  $$$$$$/   | $$   
 \______/  \______/ |__/  \__/   |__/  |__/  |__/ \______/    |__/   
                                                                     
                                                                     
                                                                     
*****************************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;    
}

.contact-info a {
    display:block;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
/*    padding: 0 0 0 30px;*/
    padding:0;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
       
}

.contactContainer {
        background-color: rgba(51, 204, 139, 0.38);
    
    
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/****************************
  /$$$$$$   /$$$$$$  /$$        /$$$$$$  /$$$$$$$   /$$$$$$        /$$$$$$$$ /$$$$$$$$ /$$$$$$ 
 /$$__  $$ /$$__  $$| $$       /$$__  $$| $$__  $$ /$$__  $$      | $$_____/|__  $$__//$$__  $$
| $$  \__/| $$  \ $$| $$      | $$  \ $$| $$  \ $$| $$  \__/      | $$         | $$  | $$  \__/
| $$      | $$  | $$| $$      | $$  | $$| $$$$$$$/|  $$$$$$       | $$$$$      | $$  | $$      
| $$      | $$  | $$| $$      | $$  | $$| $$__  $$ \____  $$      | $$__/      | $$  | $$      
| $$    $$| $$  | $$| $$      | $$  | $$| $$  \ $$ /$$  \ $$      | $$         | $$  | $$    $$
|  $$$$$$/|  $$$$$$/| $$$$$$$$|  $$$$$$/| $$  | $$|  $$$$$$/      | $$$$$$$$   | $$  |  $$$$$$/
 \______/  \______/ |________/ \______/ |__/  |__/ \______/       |________/   |__/   \______/ 
                                                                                               
                                                                                               
                                                                                               
*****************************/

/* site body */
body {
    background-color: rgba(0, 0, 0, 0);
}

/* green header */
header {
    background: rgba(0, 0, 0, 0);
    border-color: #0d3531;
}





/* logo text */
h1, h2, h3, .desctext {
    color: #05181a;
    text-shadow: -1px 1px 3px #5cc0ff, 1px -1px 8px #52ff66;
    text-align: center;
}

h1 a, h1 a:visited, h1 a:hover, h1 a:active {
  color: inherit;
}

/* nav links */
 nav a {
    color:#b1be1d;
    
}
.colImgcap {
    color: #081d00;
}



/*  nav link hover */
 nav a:hover {
    color: #03b41a;
}

.col2ndcap {
    color:black;
    white-space: nowrap;
     
}

.sliderHeading{
    background-color: rgba(73, 170, 144, 0.56);
    text-align: center;
    border-radius: 5px 5px 0 0 ;
    font-weight: 700;
    color: #081d00;
    margin: 0;
}



/*

 /$$$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$  /$$     /$$       /$$$$$$$$ /$$$$$$  /$$$$$$$  /$$      /$$
| $$_____/| $$$ | $$|__  $$__/| $$__  $$|  $$   /$$/      | $$_____//$$__  $$| $$__  $$| $$$    /$$$
| $$      | $$$$| $$   | $$   | $$  \ $$ \  $$ /$$/       | $$     | $$  \ $$| $$  \ $$| $$$$  /$$$$
| $$$$$   | $$ $$ $$   | $$   | $$$$$$$/  \  $$$$/        | $$$$$  | $$  | $$| $$$$$$$/| $$ $$/$$ $$
| $$__/   | $$  $$$$   | $$   | $$__  $$   \  $$/         | $$__/  | $$  | $$| $$__  $$| $$  $$$| $$
| $$      | $$\  $$$   | $$   | $$  \ $$    | $$          | $$     | $$  | $$| $$  \ $$| $$\  $ | $$
| $$$$$$$$| $$ \  $$   | $$   | $$  | $$    | $$          | $$     |  $$$$$$/| $$  | $$| $$ \/  | $$
|________/|__/  \__/   |__/   |__/  |__/    |__/          |__/      \______/ |__/  |__/|__/     |__/


*/

#form span {
		border-radius: 20px;
		margin:auto;
		padding: 5px;
		background: rgba(191, 129, 12, 0.58);
		color:#420600;
    display:block;
    width: 60%;
   
	}
	#form span.valid {
		background-color :#c0ce51;
		color: #faf3bc;
	}
	#form span.error {
		background-color:#b0240f;
		color: #faf3bc;
    }

label{
 
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block

}

input {
    margin-right: 15px;
}


/*


 .oOOOo.   .oOOOo.  o.OOOo.   ooOoOOo o.     O  .oOOOo.  
.O     o  .O     o.  O    `o     O    Oo     o .O     o  
o         O       o  o      O    o    O O    O o         
o         o       O  O      o    O    O  o   o O         
o         O       o  o      O    o    O   o  O O   .oOOo 
O         o       O  O      o    O    o    O O o.      O 
`o     .o `o     O'  o    .O'    O    o     Oo  O.    oO 
 `OoooO'   `OoooO'   OooOO'   ooOOoOo O     `o   `OooO'  
                                                         
                                                         
*/

.buttonTodo {
    background: #317d9d;
    border: none;
    border-radius: 5px;
    color: #1d3c6a;
    padding: 5px 0;
    cursor: pointer;
    font-size: 15px;
    width: 60px;
    margin: 0 10px 0 10px;
}

label {
    text-shadow:  -1px 1px 3px #5cc0ff, 1px -1px 8px #52ff66;
}

.wave {
    display:inline-block;
    width: 75px;
}

.imgShrink {
    width: 75px;
    
}

/*
#toDoContainer {
    max-width: 50%;
}
*/
/*
# animexlogo {
-webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
*/









